@using Core.DTOs.ProfileViewModel
@model ChangePasswordViewModel
@{
    Layout = null;
}

<h1>Change Pasword  </h1>

<form method="post">
    <div class="input-group">
        <input asp-for="CurrentPassowrd" type="password" placeholder="Current Pasword" />
    </div>
    <div class="input-group">
        <input asp-for="NewPassword" type="password" placeholder="New Password" />
    </div>
    <div class="input-group">
        <input asp-for="ReNewPassword" type="password" placeholder="ReNew Password" />
    </div>

    <button type="submit">
        Change Password
    </button>

    <button type="button">
        <a asp-area="Profile" asp-controller="ProfileHome" asp-action="Index">
            Cancel
        </a>
    </button>

    <div asp-validation-summary="All" class="text-danger"></div>

</form>