@using Data.Model
@model User
<div style="direction: rtl; padding: 20px">
    <h2> Deare @Model.Username</h2>
    <p>
        Please Rest Your Password
    </p>
    <p>
        <a href="https://localhost:7178/Main/MainHome/ResetPassword/@Model.ActiveCode">Click Now!</a>
    </p> 
</div>
