@using Data.Model
@model User
<div style="direction: rtl; padding: 20px">
    <h2> Deare @Model.Username</h2>
    <p>
        Please Acctive Your Account
    </p>
    <p>
        <a href="https://localhost:7178/Main/MainHome/Register/@Model.ActiveCode">Register Now!</a>
    </p>
</div>
