
@{
    Layout = null;
}
<h1>Universe for @User.Identity.Name </h1>

<button type="button">
    <a asp-area="Unviverse" asp-controller="UniverseHome" asp-action="CreateUniverse">
        Create Article
    </a>
</button>


