
@{
    Layout = null;
}

<h1>Yes Wa made it !</h1>
<h1>Universe for @User.Identity.Name </h1>


<ul>
    <li>
        <button type="button">
            <a asp-area="UniverseHelp" asp-controller="UniverseHelperHome" asp-action="CreateUniverse">
                Create Article
            </a>
        </button>
    </li>

    <li>
        <button type="button">
            <a asp-area="UniverseHelp" asp-controller="UniverseHelperHome" asp-action="MyUniverse">
                My Universe
            </a>
        </button>
    </li>
</ul>