@using Core.DTOs.MainViewModels
@model ForgotPasswordViewModel
@{
    Layout = null;
}
@if (ViewBag.IsForgot == true)
{
    <h1 class="alert-success">We sent you a Email!</h1>
}
<h1>ForGot Pass! :( </h1>

<form method="post">
    <input asp-for="EmailOrUsername" placeholder="Email Or Username" />

    <button type="button">
        <a asp-area="Main" asp-controller="MainHome" asp-action="Index">
            Back To Main
        </a>
    </button>

    <button type="submit" class="btn btn-success">
        Submit
    </button>

    <div asp-validation-summary="All" class="text-danger"></div>
</form>