
@{
    Layout = null;
}
<h2>Main Page</h2>

<form>
    <button type="button">
        <a asp-area="Main" asp-controller="MainHome" asp-action="SignUp">
            SignUp
        </a>
    </button>
    <button type="button">
        <a asp-area="Main" asp-controller="MainHome" asp-action="SignIn">
            SignIn
        </a>
    </button>
    <button type="button">
        <a asp-area="UserProfile" asp-controller="UserHome" asp-action="Index">
            Panel
        </a>
    </button>
    <button type="button">
        <a asp-area="Main" asp-controller="MainHome" asp-action="Hello">
            Hello
        </a>
    </button>
    <button type="button">
        <a asp-area="Main" asp-controller="MainHome" asp-action="SignOutt">
            SignOut
        </a>
    </button>
</form>