@using Core.DTOs.MainViewModels
@model ResetPasswordViewModel
@{
    Layout = null;
}
<h1>Change Your Password</h1>

<form method="post">
    <input asp-for="ActiveCode" type="hidden" /> 
    <div class="input-group">
        <input asp-for="Password" placeholder="Enter Your Password" />
    </div>
    <div class="input-group">
        <input asp-for="RePassword" placeholder="Enter Your RePassword" />
    </div>
    <button type="submit">
        Change My Password
    </button>
    <div asp-validation-summary="All" class="text-danger"></div>

</form>